.countdown-container{
    text-align:center;
    .countdown {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        position: relative;
        &.title{
            padding-bottom: 10px;
        }
        > div {
            float:left;
            height: 100px;
            &.separator {
                position: relative;
                display: block;
                width: 20px;
                > .dot {
                    position: absolute;
                    border-radius: 50%;
                    left: 5px;
                    width: 10px;
                    height:10px;
                    &.top{
                        top:30px;
                    }
                    &.bottom{
                        bottom: 30px;
                    }
                }
            }
            &.time {
                width: 80px;
                > .count {
                    line-height:100px;
                    font-size: 70px;
                }
                > .title{
                    width: 80px;
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    font-size: 13px;
                }
            }
        }           
        
        
    }
    
}