<div style="width:{{ setting.global.width }};" class="{{id}}">
    <div class="wrapper-video vd-video-aspect-ration-{{ setting.global.ratio }}">
        <iframe src="{{ setting.user.link }}" frameborder="0" allowfullscreen width="638" height="358" class="video-player"></iframe>
    </div>
</div>