<div style="{{setting.global.height?'height'+setting.global.height+'px;'}}" class="{{id}}">
    {{setting.global.link}}
</div>
    <style>
        raw > div {
            height: 100%;
        }
    </style>