<div class="vd-testimonial {{id}}">
    <div class="vd-testimonial-image">
        <img src="{{ setting.user.thumb }}"/>
    </div>
    <div class="vd-testimonial-name h3">{{ setting.global.name }}</div>
    <div class="vd-testimonial-comment">{{ setting.user.comment }}</div>
</div>