.vd-popup{
    .popup-content{
        #tab-edit-block{
            .form-group{
                .fg-setting{
                    &.range{
                        position:relative;
                    }
                    > input[type=range]{
                        position: relative;
                        top: 2px;
                        display: inline-block;
                        background-color: #e8eef5;
                        width: 74%;
                        height: 5px;
                        margin: 0;
                        padding: 0;
                        -webkit-appearance: none;
                        &:focus {
                            outline: none!important;
                            box-shadow: none!important
                        }
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            background-color: #2b87da;
                            width: 15px;
                            height: 15px;
                            border-radius: 15px
                        }
                        &::-moz-range-track {
                            background: transparent;
                            border: inherit
                        }
                        &::-ms-track {
                            background: transparent;
                            border: inherit;
                            color: transparent
                        }
                        &::-ms-fill-lower,
                        &::-ms-fill-upper {
                            background: transparent
                        }
                        &::-ms-tooltip {
                            display: none
                        }
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            background-color: #2b87da;
                            width: 15px;
                            height: 15px;
                            border: 0;
                            border-radius: 15px
                        }
                        &::-moz-range-thumb {
                            background-color: #2b87da;
                            width: 15px;
                            height: 15px;
                            border: 0;
                            border-radius: 15px
                        }
                        &::-ms-thumb {
                            background-color: #2b87da;
                            width: 15px;
                            height: 15px;
                            border: 0;
                            border-radius: 15px
                        }
                        &+input[type=text]{
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 20%!important;
                        }
                    }
                }
            }
        }
    }
}