.vd-image-card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 4px;
    >.image {
        width: 100%;
        display: block;
    }
    >.vd-image-card-block {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 20px;
        color: #292B2C;
        >.card-title {
            margin-bottom: .75rem;
            font-size: 24px;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            margin-top: 0;
        }
        >.card-text {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}